<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data }}</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .header-title {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 20px 0;
        }
        .header-title h1 {
            display: inline-block;
            padding: 10px 20px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            font-size: 36px;
            font-weight: bold;
        }
        .home-button {
            position: absolute;
            left: 10px;
            margin-left: 10px;
        }
        .el-table th {
            font-weight: bold;
        }
        .el-table td {
            text-align: center;
        }
        .pagination-container {
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header class="header-title">
                <el-button class="home-button" @click="goHome" size="mini">返回首页</el-button>
                <h1>{{ data }}</h1>
            </el-header>
            <el-main>
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="name" label="数据集名称" align="center"></el-table-column>
                    <el-table-column prop="count" label="数据总量" align="center"></el-table-column>
                    <el-table-column prop="correct" label="正确数量" align="center"></el-table-column>
                    <el-table-column prop="error" label="错误数量" align="center"></el-table-column>
                    <el-table-column label="剩余数量" align="center">
                        <template slot-scope="scope">
                            {{ '{{' }} scope.row.count - scope.row.correct - scope.row.error {{ '}}' }}
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button @click="mark(scope.row.name)" size="mini">筛选</el-button>
                            <el-button @click="sync(scope.row.name)" size="mini">同步</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination-container">
                    <el-pagination
                        @current-change="loadPage"
                        :current-page="currentPage"
                        :page-size="pageSize"
                        layout="prev, pager, next, jumper, ->, total"
                        :total="totalItems">
                        <template slot="prev">
                            <el-button @click="loadPage(1)" size="mini">首页</el-button>
                        </template>
                        <template slot="next">
                            <el-button @click="loadPage(lastPage)" size="mini">末页</el-button>
                        </template>
                    </el-pagination>
                </div>
            </el-main>
        </el-container>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    tableData: [],
                    currentPage: 1,
                    pageSize: 10,
                    totalItems: 0
                }
            },
            computed: {
                lastPage() {
                    return Math.ceil(this.totalItems / this.pageSize);
                }
            },
            methods: {
                async fetchData(page, size) {
                    const response = await fetch(`/qaFilter/data?page=${page}&size=${size}`);
                    const result = await response.json();
                    this.tableData = result.data;
                    this.totalItems = result.totalItems;
                },
                loadPage(page) {
                    this.currentPage = page;
                    this.fetchData(page, this.pageSize);
                },
                async mark(name) {
                    const encodedName = encodeURIComponent(name);
                    try {
                        const response = await fetch(`/qaFilter/mark/${encodedName}`, {
                            method: 'GET'
                        });
                        if (response.ok) {
                            window.location.href = `/qaFilter/mark/${encodedName}`;
                        } else {
                            const result = await response.json();
                            this.$message({
                                message: result.message || '请求失败',
                                type: 'error'
                            });
                        }
                    } catch (error) {
                        this.$message({
                            message: '请求失败',
                            type: 'error'
                        });
                    }
                },
                async sync(name) {
                    const response = await fetch(`/qaFilter/sync`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ datasetName: name,  })
                    });
                    const result = await response.json();
                    if(result.code == 200) {
                        this.$message.success(result.message)
                    } else {
                        this.$message.error(result.message)
                    }
                },
                goHome() {
                    window.location.href = "/";
                }
            },
            mounted() {
                this.loadPage(this.currentPage);
                setInterval(() => {
                    this.loadPage(this.currentPage);
                }, 3000);
            }
        });
    </script>
</body>
</html>
