<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimodal-Annotation</title>
</head>
    <body>
        <div>
            <div style="text-align: center; margin-bottom: 20px;">
                <h1>中国铁塔内部多模态标注工具</h1>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <button style="flex: 1;
                               margin-right: 5px;
                               border: none;
                               padding: 20px 30px;
                               font-size: 30px;
                               background-color: #ffc56e;
                               color: #fff;
                               cursor: pointer;
                               border-radius: 8px;
                               box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                               transition: background-color 0.2s ease-in-out;
                               line-height: 150px;" 
                        onmouseover="this.style.backgroundColor='#fed09d';"
                        onmouseout="this.style.backgroundColor='#ffc56e';"
                        onclick="window.location.href='http://127.0.0.1:8080/translate'">中英文对照标注</button>
    
                <button style="flex: 1;
                               margin-left: 5px;
                               border: none;
                               padding: 20px 30px;
                               font-size: 30px;
                               background-color: #ffc56e;
                               color: #fff;
                               cursor: pointer;
                               border-radius: 8px;
                               box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                               transition: background-color 0.2s ease-in-out;
                               line-height: 150px;" 
                        onmouseover="this.style.backgroundColor='#fed09d';"
                        onmouseout="this.style.backgroundColor='#ffc56e';"
                        onclick="window.location.href='http://127.0.0.1:8080/qa'">问答标注</button>
            </div>
        </div>
    </body>
</html>